<article class="new-session">
  <h1>Schedule a Session</h1>
  <form action="/sessions" method="POST" class="new-session-form">
    <label for="course">
      Course Name
    </label>
    <select class="full-width-input" name="course" id="course">
      <option value="">Select Course...</option>
      {{#each courses}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <label for="content">
      Topic
    </label>
    <textarea id="content" name="content" rows="4" placeholder="Topic"
      class="full-width-input">{{sessions.content}}</textarea>
    
    <label for ="date">
      Date
      <input type="text" name="date" placeholder="mm/dd/yyyy format" value="{{sessions.date}}" class="full-width-input">
    </label>

    <label for="timeSlot">
      Select a Time Slot:
    </label>
    <select class="full-width-input" name="timeSlot" id="timeSlot">
      <option value="">Select Time Slot...</option>
      <option value="6:00 AM - 7:00 AM">6:00 AM - 7:00 AM</option>
      <option value="7:00 AM - 8:00 AM">7:00 AM - 8:00 AM</option>
      <option value="8:00 AM - 9:00 AM">8:00 AM - 9:00 AM</option>
      <option value="9:00 AM - 10:00 AM">9:00 AM - 10:00 AM</option>
      <option value="10:00 AM - 11:00 AM">10:00 AM - 11:00 AM</option>
      <option value="11:00 AM - 12:00 PM">11:00 AM - 12:00 PM</option>
      <option value="12:00 PM - 1:00 PM">12:00 PM - 1:00 PM</option>
      <option value="1:00 PM - 2:00 PM">1:00 PM - 2:00 PM</option>
      <option value="2:00 PM - 3:00 PM">2:00 PM - 3:00 PM</option>
      <option value="3:00 PM - 4:00 PM">3:00 PM - 4:00 PM</option>
      <option value="4:00 PM - 5:00 PM">4:00 PM - 5:00 PM</option>
      <option value="5:00 PM - 6:00 PM">5:00 PM - 6:00 PM</option>
      <option value="6:00 PM - 7:00 PM">6:00 PM - 7:00 PM</option>
      <option value="7:00 PM - 8:00 PM">7:00 PM - 8:00 PM</option>
      <option value="8:00 PM - 9:00 PM">8:00 PM - 9:00 PM</option>
      <option value="9:00 PM - 10:00 PM">9:00 PM - 10:00 PM</option>
    </select>

    <label for="receiverName">
      Recipient Name : 
    </label>
    <select class="full-width-input" name="receiverName" id="receiverName">
      <option value="">Select recipient...</option>
      {{#each users}}
      <option value="{{username}}">{{fullName}}</option>
      {{/each}}
    </select>


    
    <br>
    <button type="submit">SUBMIT</button>
    {{!-- <input type="hidden" name='_method' value="PUT" /> --}}
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if hasDbErrors}}
  <ul class="error-list">
    <li>
      {{error}}
    </li>

  </ul>

  {{/if}}

</article>