<section class="receivedreq">
  <h1>Received Sessions</h1>
  {{#each receivedReqList}}
    <article class="session {{#if status "===" "pending"}}session-pending{{else}}session-accepted{{/if}}">
      <h2>{{course}}</h2>
      <p>{{content}}</p>
      <p>Received request from {{senderName}} to schedule a session on {{date}} during {{timeSlot}}</p>
      <p>Current Status is {{status}}</p>
      {{#if status "===" "pending"}}
        <button class="accept-button" data-session-id="{{_id}}" data-user-name="{{receiverName}}">Accept</button>
        <button class="reject-button" data-session-id="{{_id}}" data-user-name="{{receiverName}}">Reject</button>
      {{/if}}
    </article>
  {{/each}}
</section>
