<main>
    <div class="signup-page">
        <h2>Edit Profile</h2>
        <form action="/users/editProfile" method="POST">
            <div class="username-container">
                <label for="username">Username:</label><br>
                <input type="text" id="editUsername" name="username" required value="{{userInfo.username}}"><br>
            </div>

            <div class="password-container">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
            </div>

            <div class="email-container">
                <label for="email">Email:</label><br>
                <input type="email" id="editEmail" name="email" required value="{{userInfo.email}}"><br>
            </div>

            <div class="fullname-container">
                <label for="fullname">Full Name:</label><br>
                <input type="text" id="editFullname" name="fullname" required value="{{userInfo.fullname}}"><br>
            </div>

            <div class="major-container">
                <label for="major">Major:</label><br>
                <input type="text" id="editMajor" name="major" required value="{{userInfo.major}}"><br>
            </div>

            <div class="languages-container">
                <label for="languages">Languages:</label><br>
                <input type="text" id="editLanguages" name="languages" required value="{{userInfo.languages}}"><br>
            </div>

            <div class="coursesEnrolled-container">
                <label for="coursesEnrolled">Courses Enrolled:</label><br>
                <select id="editCoursesEnrolled" name="coursesEnrolled" required>
                    <option value="{{userInfo.coursesEnrolled}}" selected>{{userInfo.coursesEnrolled}}</option>
                    <option value="CS546">Web programming</option>
                    <option value="CS555">Agile</option>
                    <option value="CS545">Human Computer Interaction</option>
                    <option value="CS570">Data Structures</option>
                    <option value="CS556">Mathematical Foundations of Machine Learning</option>
                    <option value="cs513">Knowledge Discovery and data Mining</option>
                </select>
            </div>

            <div class="reviews-container">
                <label for="reviews">Reviews:</label><br>
                <input type="text" id="editReviews" name="reviews" value="{{userInfo.reviews}}"><br>
            </div>

            <div class="bio-container">
                <label for="bio">Bio:</label><br>
                <textarea id="editBio" name="bio" rows="4" cols="50">{{userInfo.bio}}</textarea><br>
            </div>

            <div class="gradyear-container">
                <label for="gradyear">Graduation Year:</label><br>
                <input type="text" id="editGradyear" name="gradyear" required value="{{userInfo.gradyear}}"><br>
            </div>

            <button type="submit">Update Profile</button>
        </form>
    </div>
</main>
