<main>
    <h2>User Details</h2>
    <p>Username: {{user.username}}</p>
    <p>Major: {{user.major}}</p>
    <p>Courses Enrolled: {{user.coursesEnrolled}}</p>
    <p>Languages: {{user.languages}}</p>
    <p>Email: {{user.email}}</p>
    <p>Bio: {{user.bio}}</p>
    <p>Graduation Year: {{user.gradyear}}</p>

     <h3>Reviews:</h3>
    <ul>
        {{#each user.reviews}}
        <li>
            <p>Review: {{this.review}}</p>
            <p>Rating: {{this.rating}}</p>
        </li>
        {{/each}}
    </ul>
    <h3>Leave a Review for this user</h3>
    <form action="/users/{{user._id}}/reviews" method="post">
        <label for="review">Review:</label><br>
        <input type="text" id="review" name="review" placeholder="Enter Your Review Here"><br>
        <label for="rating">Rating:</label><br>
        <input type="number" id="rating" name="rating" placeholder="Enter Your Rating Here"><br>
        <button type="submit">Submit Review</button>
    </form>
    
    <form action="/posts" method="get" id="goback">
        <h3 class="goback"><button type="submit">Go Back</button></h3>
    </form>
    
    {{#if hasErrors}}
    <p>{{error}}</p>
    {{/if}}
</main>
