<main>
    <h2>View All Posts</h2>
    <ul>
        {{#each posts}}
        <li>
            <a href="/posts/{{this._id}}">
                <h3>{{this.title}}</h3>
            </a>
            <p>{{this.content}}</p>
            <p>Posted By: {{this.userId}}</p>
            <p>Tags: {{this.tags}}</p>
        </li>
        {{/each}}
    </ul>
</main>